# Build Libraries
Firmware.PSoC.cydsn/ARM_GCC_541
Firmware.PSoC.cydsn/codegentemp
Firmware.PSoC.cydsn/Export
Firmware.PSoC.cydsn/Generated_Source

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
Firmware.PSoC.cydsn/BUILD.log
*.KristianHennings
Firmware.PSoC.cydsn/REBUILD.log
Firmware.PSoC.cydsn/Firmware.PSoC.cycdx
Firmware.PSoC.cydsn/Firmware.PSoC.svd
Firmware.PSoC.cydsn/Firmware.PSoC.rpt
Firmware.PSoC.cydsn/Firmware.PSoC_timing.html
Backup/Firmware.PSoC._4.2.zip
